.app-body {
    background-color: rgb(1, 16, 69);
    padding: 5em;
    font-weight: 600;
}

.navbar-dark .navbar-brand.brand {
    background: linear-gradient(to left,
    rgb(255, 2, 116),
    #c52d2d,
    rgb(246, 242, 1),
    rgb(252, 245, 42),
    rgb(221, 4, 127),
    rgb(109, 1, 109),
    rgb(81, 0, 220));
-webkit-background-clip: text;
color: transparent;}

.app-footer {
    background-color: rgb(20, 161, 226);
    padding: 1em;
    color: white;
    margin-top: -3em;;  
}

.side-bar {
    background-color:  rgb(179, 3, 65);
    border-radius: 2em;
    font-weight: 600;
    color: rgb(145, 249, 152);

    .nav {
        display: block;
    }

    .nav-link {
        font-weight: 600;
        color: white;
        display: block;
    }
}

.small-form {
    padding: 1em;
    background-color: rgb(74, 152, 68);
    border-radius: 2em;
}

.home-container {
 background-color:  rgb(240, 195, 14);
}

.home-container > div {
    padding: 4em;
}

.navbar-dark .navbar-nav {
    .nav-link {
        color: white!important; 
    }
}

.events-header {
    margin-right: 1em;
    padding: 1em;
}
.events-data.row {
    margin-right: 1em;
    border-bottom: 1px solid gray;
}

.events-container {
    background-color:#0a629c;
    color: rgb(255, 255, 255);
    .amplify-field-group {
        background-color: antiquewhite;
    }
}

.champions-container {
    background-color:rgb(55, 184, 66);
    color: rgb(255, 255, 255);
    font-weight: 600;
    .amplify-field-group {
        background-color: antiquewhite;
    }
}

.generic-container, .login-container {
    background-color: rgb(216, 155, 14);
    color: rgb(8, 3, 75);
    .amplify-input {
        background-color: rgb(255, 255, 255);
    }
    .amplify-button {
        background-color: rgb(84, 106, 203);
        color: white;
    }
}
.events-container > div, .champions-container > div, .generic-container > div {
    padding: 1em;
}

.home-container .login-container {

    background: none;
}

.my-6 {
    margin-top: 3em;
    margin-bottom: 3em;
}

.navbar.navbar-dark.bg-info {
    background-color: rgb(12, 192, 126) !important;
    font-weight:800;
    height: 7em;

    .navbar-brand {
        font-size: 4em;
        font-family: 'math';
        font-weight: 600;
    }

    .dropdown-menu {
         background-color: rgb(255 146 72)!important;
         color: rgb(2, 60, 175)!important;
    }
     .navbar-collapse.show {
        padding: 1em;
        background-color:  rgb(236, 145, 17) !important;
    }  
}

.dropdown-menu.show, .login-nav {
    text-align: left;
    color: rgb(8, 3, 75);
}
.dropdown-menu.show > .nav-link, .dropdown-menu.show > .dropdown-item{
    color: rgb(3, 19, 68);
}

.navbar .navbar-nav .nav-link {
    color: rgb(19, 9, 152);
    font-size: 1.2em;
    background-color: #057ea6;
    margin: 0.5em;
    padding: 5px;
    border-radius: 20px;
}

