.app-body {
    background-color: rgb(1, 16, 69);
    padding: 5em;
}

.app-footer {
    background-color: rgb(20, 161, 226);
    padding: 1em;
    color: white;
    margin-top: -3em;;  
}

.side-bar {
    background-color:  rgb(240, 195, 14);
    border-radius: 2em;
}

.side-bar a {
    color:rgb(1, 17, 31);
    font-weight: 500;
}

.small-form {
    padding: 1em;
    background-color: rgb(74, 152, 68);
    border-radius: 2em;
}

.home-container {
 background-color: rgb(123, 201, 137);
}

.home-container > div {
    padding: 4em;
}

.navbar-dark .navbar-nav .nav-link {
    color: white!important; 
}
.navbar-dark .navbar-nav .show > .nav-link {
    color: white;
}
.events-header {
    margin-right: 1em;
    padding: 1em;
}
.events-data.row {
    margin-right: 1em;
    border-bottom: 1px solid gray;
}

.events-container {
    background-color: rgb(10, 98, 156);
    color: rgb(255, 255, 255);
}

.champions-container {
    background-color: rgb(240, 195, 14);
    color: rgb(2, 2, 109);
    font-weight: 600;
}

.generic-container, .login-container {
    background-color: rgb(216, 155, 14);
    color: rgb(8, 3, 75);
}
.events-container > div, .champions-container > div, .generic-container > div {
    padding: 3em;
}

.home-container .login-container {

    background: none;
}

.my-6 {
    margin-top: 3em;
    margin-bottom: 3em;
}

.navbar-dark.bg-info {
    background-color: rgb(236, 145, 17)!important;
    font-weight:800;
    color: rgb(2, 60, 175)!important;
    height: 6em;

    .navbar-brand {
        font-size: 2em;
    }

    .dropdown-menu {
         background-color: rgb(255 146 72)!important;
    }
}

.dropdown-menu.show, .login-nav {
    text-align: left;
    color: rgb(8, 3, 75);
}
.dropdown-menu.show > .nav-link, .dropdown-menu.show > .dropdown-item{
    color: rgb(3, 19, 68);
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(8, 3, 75);
}